.address {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $colorGreyText;

    &--footer {
        display: inline-flex;
        align-items: center;
        padding-bottom: 11px;

        &::after,
        &::before {
            display: none;
        }
    }

    &--contact {
        display: block;
        font-size: 21px;
        line-height: 30px;
        color: $colorMainRegular;
        text-align: left;
        padding-bottom: 30px;
        border-bottom: 4px solid $colorGreySeparator;

        &::after,
        &::before {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .address {
        display: inline-flex;
        align-items: center;

        &--footer {                
            padding-bottom: 0;
        }
        
        &::after,
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            background-color: $colorGreySeparator;
            border-radius: 50%;
            margin: 0 6px;
        }
    }
}
