.arrow-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $colorActiveRegular;

    &::after {
        display: inline-block;
        vertical-align: auto;
        content: "";
        width: 6px;
        height: 10px;
        background-image: url(../img/link-arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 6px;
    }
    
    &:hover {
        &::after {
            // transition-duration: 200ms;
            // transition-property: margin;
            animation-name: arrow-link;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            margin: 0 12px;
        }
    }

    &.active {
        color: $colorAccent;
    }
}

@keyframes arrow-link {
    0% {
        margin: 0 6px;
    }

    50% {
        margin: 0 12px;
    }

    100% {
        margin: 0 6px;
    }
}
