.clients {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    &__title {
        align-self: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorMainRegular;
        padding-bottom: 30px;
    }
    
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);
    }

    &__item {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &--n1 {
            background-color: $colorClientsN1;
            .clients__logo {
                width: 217px;
                height: 48px;
            }
        }

        &--n2 {
            background-color: $colorClientsN2;
            .clients__logo {
                width: 199px;
                height: 32px;
            }
        }

        &--n3 {
            background-color: $colorClientsN3;
            .clients__logo {
                width: 179px;
                height: 44px;
            }
        }

        &--n4 {
            background-color: $colorClientsN4;
            .clients__logo {
                width: 180px;
                height: 42px;
            }
        }

        &--n5 {
            background-color: $colorClientsN5;

            .clients__logo {
                width: 174px;
                height: 44px;
            }
        }

        &--n6 {
            background-color: $colorClientsN6;
            .clients__logo {
                width: 195px;
                height: 48px;
            }
        }

        &--n7,
        &--n8,
        &--n9,
        &--n10,
        &--n11,
        &--n12 {
            display: none;
        }
    }
}
@media (min-width: 768px) {
    .clients {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, min-content);
        }

        &__item {
            &--n7,
            &--n8,
            &--n9,
            &--n10,
            &--n11,
            &--n12 {
                display: flex;
            }

            &--n7 {
                background-color: $colorClientsN7;
                .clients__logo {
                    width: 138px;
                    height: 61px;
                }
            }

            &--n8 {
                background-color: $colorClientsN8;
                .clients__logo {
                    width: 146px;
                    height: 76px;
                }
            }

            &--n9 {
                background-color: $colorClientsN9;
                .clients__logo {
                    width: 182px;
                    height: 60px;
                }
            }

            &--n10 {
                background-color: $colorClientsN10;
                .clients__logo {
                    width: 181px;
                    height: 38px;
                }
            }

            &--n11 {
                background-color: $colorClientsN11;
                .clients__logo {
                    width: 189px;
                    height: 46px;
                }
            }

            &--n12 {
                background-color: $colorClientsN12;
                .clients__logo {
                    width: 152px;
                    height: 95px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .clients {
        &__container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, min-content);
        }
    }
}

@media (min-width: 1721px) {
    .clients {
        margin-bottom: 60px;
        
        &__container {
            border-radius: 12px;
        }

        &__item {
                &--n1 {
                    border-radius: 12px 0 0;
                }

                &--n4 {
                    border-radius: 0 12px 0 0;
                }

                &--n9 {
                    border-radius: 0 0 0 12px;
                }

                &--n12 {
                    border-radius: 0 0 12px;
                }
        }
        
    }
}
