.dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;

    &--about {
        bottom: -48px;
    }
    
    &__item {
        padding: 0 7px;
        
        &.active .dots__btn {
            background-color: $colorActiveRegular;
        }

        &:not(.active):hover .dots__btn {
            transition-duration: 300ms;
            transition-property: background-color;
            background-color: rgba(36, 163, 255, 0.6);
        }
    }

    &__btn {
        cursor: pointer;
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: rgba(36, 163, 255, 0.3);
    }
}
