.dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;

    &--about {
        bottom: -48px;
    }
    
    li { // li -> &__item (just by limitations of slick-slider)
        padding: 0 7px;
        
        &.slick-active button { // button -> .dots__btn; slick-active -> active (just by limitations of slick-slider)
            background-color: $colorActiveRegular;
        }

        &:not(.slick-active):hover button { // button -> .dots__btn; slick-active -> active (just by limitations of slick-slider)
            transition-duration: 300ms;
            transition-property: background-color;
            background-color: $colorDotsBtnHoverOpac;
        }
    }

    button { // button -> &__btn
        cursor: pointer;
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: $colorDotsBtnOpac;
    }
}
