.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;

    &__top-line {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        margin: 0 -15px; /*------ for bg on mobiles*/
        padding: 10px 15px;
        background-color: $colorGreyBg;
    }

    &__top-line--white {
        background-color: $colorHeaderTopLineWhiteOpac;
    }

    &__logo-box {
        display: flex;
        align-items: flex-start;
        padding: 15px 0 10px;
    }

    &__overlay {
        position: fixed;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $colorOverlay;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        &--white-page {
            top: 104px;
        }
    }
}

@media (min-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        padding-top: 40px;
        
        &__top-line {
            justify-content: flex-start;
            background-color: transparent;           
        }

        &__logo-box {
            display: flex;
            align-items: flex-start;
            padding: 21px 0 10px;
        }
    }
}

@media (min-width: 992px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content;
        align-items: center;
        padding-top: 30px;

        &__logo-box {
            grid-row: 1 / -1;
            grid-column: 1 / 2;
            padding-bottom: 0;
        }
        
        &__top-line {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            padding: 15px 15px 10px;
        }

        
    }
}
