.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    padding-bottom: 40px;

    &__top-line {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        margin: 0 -15px; /*------ for bg on mobiles*/
        padding: 10px 15px;
        background-color: $colorGreyBg;
    }

    &__top-line--white {
        background-color: $colorHeaderTopLineWhiteOpac;
    }

    &__logo-box {
        display: flex;
        align-items: flex-start;
        padding: 15px 0 10px;
    }
}

@media (min-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        padding-top: 50px;
        padding-bottom: 60px;
        
        &__top-line {
            justify-content: flex-start;
            background-color: transparent;
        }
    }
}

@media (min-width: 992px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content;
        align-items: center;

        &__logo-box {
            grid-row: 1 / -1;
            grid-column: 1 / 2;
        }
        
        &__top-line {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}
