.lang {
    display: flex;
    padding-left: 0;
    list-style: none;

    &__link {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: $colorGreyText;
        padding: 5px 7px;
        border-radius: 6px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        transition-duration: 300ms;
        transition-property: background-color;

        &:not(.active):hover {
            background-color: $colorGreyBg;
        }
        
        &.active {
            color: $colorBasicWhite;
            background-color: $colorAccent;
        }
    }

    &__link--white {
        color: $colorBasicWhite;
        transition-duration: 300ms;
        transition-property: background-color;

        &:not(.active):hover {
            background-color: $colorGreyText; // or rgba(255, 255, 255, 0.2);  
        }
    }
}
