.menu {
    &__mobile-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 15px 15px;
        list-style: none;
        width: 100%;
        // height: 100vh;
        right: 0;
        left: 0;
        background-color: rgba(50, 50, 100, 0.7); // colorOverlay
        position: fixed;
        transform: translateX(-104%);
        transition: transform .3s ease-in-out;
        border-radius: 0 0 8px 8px;

        &.show {
            transform: translateX(0)
        }

        &-item {
            width: 100%;
            display: flex;

            &:not(:last-child) {
                padding-bottom: 15px;
            }

            .menu__mobile-link {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: $colorActiveRegular;
                width: 100%;
                padding: 7px 0px;
                background-color: $colorGreyBg;
                border-radius: 12px;  
                transition-duration: 300ms;
                transition-property: background-color;

                &:hover {
                    background-color: $colorGreySeparator;
                }

                &.active {
                    color: $colorAccent;
                }    
            }
        }

        &.menu__mobile-list--white {
            background-color: $colorBasicWhite;
        }
    }
    
    &__list {
        display: none;
    }
}


@media (min-width: 768px) {
    .menu {
        &__list {
            display: flex;
            padding-left: 0;
            list-style: none;
            margin-top: 16px;

            &-item {
                .menu__link {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    color: $colorActiveRegular;
                    padding-bottom: 3px;
                    border-bottom: 2px solid transparent;
                    transition-duration: 300ms;
                    transition-property: border-bottom-color;

                    &.active {
                        color: $colorAccent;
                        border-bottom-color: $colorAccent;
                    }

                    &:not(.active):hover {
                        border-bottom-color: $colorActiveRegular;
                    }

                    &.menu__link--white {
                        color: $colorBasicWhite;
                        transition-duration: 300ms;
                        transition-property: border-bottom-color;

                        &.active {
                            color: $colorAccent;
                            border-bottom-color: $colorAccent;
                        }

                        &:hover {
                            border-bottom-color: $colorBasicWhite;
                        }

                        &:hover.active {
                            border-bottom-color: $colorAccent;
                        }
                    }
                }
            }

            &-item:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

@media (min-width: 992px) {
    .menu {
        justify-self: end;        
        margin-top: 0;

        &__list {
            margin-top: 0;
        }
    }
}
