.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 60px;

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: $colorGradientRedText;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        padding: 10px 0 30px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }    
}

@media (min-width: 768px) {
    .services {
        padding: 0 0 30px;
        
        &__title {            
            font-size: 38px;
            line-height: 46px;            
            padding: 10px 0 59px;

            &--services {
                padding-top: 60px;
            }
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, min-content);
            gap: 30px 60px;
        }
    }
}

@media (min-width: 992px) {
    .services {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, min-content);
        }
    }
}
