.site-scroll-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid $colorScrollBtn;
    padding: 12px 9px;
    transition-duration: 300ms;
    transition-property: border-color, padding; // or make animation

    &:hover {
        border-color: $colorScrollBtnHover;
        padding: 16px 9px 8px; // or make animation

        & path {
            transition-duration: 300ms;
            transition-property: stroke;
            stroke: $colorScrollBtnHover;
        }
    }
}
