.tabs {
    max-width: 1080px;
    margin: 0 auto;

    &__content {
        display: none;
        padding: 30px 0;

        &.active {
            display: flex;
            flex-direction: column;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $colorBasicWhite;
            padding-bottom: 30px;
        }

        &-text {
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: $colorBasicWhite;
        }
    }

    &__switcher {
        display: flex;
        overflow: auto;
        -ms-owerfow-style: none;
        scrollbar-width: none;
        border-bottom: 4px solid $colorTabsSeparator;
        padding-bottom: 30px;

        &::-webkit-scrollbar {
            display: none;
        }
        
        &-button {
            white-space: nowrap;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: $colorGreyText;
            border: none;
            background-color: transparent;
            padding: 0;
            transition-duration: 300ms;
            transition-property: color;

            &.active {
                background: $colorGradientRedTextReverse;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            &:hover {
                cursor: pointer;
            }

            &:not(.active):hover {
                color: $colorBasicWhite;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

@media (min-width: 768px) {
    .tabs {
        &__switcher {
            padding-bottom: 60px;

            &-button {
                font-size: 38px;
                line-height: 46px;
            }
        }

        &__content {
            padding-top: 60px;
        }
    }
}

@media (min-width: 992px) {
    .tabs {
        display: grid;
        grid-template-columns: min-content 1fr;
        padding-bottom: 60px;

        &__content {
            padding-top: 5px;

            &-title {
                font-size: 30px;
                line-height: 37px;
            }
        }

        &__switcher {
            flex-direction: column;
            align-items: flex-end;
            border-right: 4px solid $colorTabsSeparator; // or rgba(0, 0, 0, 0.3)
            padding-right: 60px;
            margin-right: 60px;
            border-bottom: none;
            padding-top: 5px;
            padding-bottom: 5px;

            &-button {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
